.searchBar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 4px 8px;
}

.searchBar input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 4px 8px;
  width: 100%;
  margin-right: 8px;
  background-color: transparent;
}

.searchBar input::placeholder {
  color: #999;
}

.searchBar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #666;
}

